
.table-view {
}

.table-row-cell {
    -fx-text-fill: black;
}

.table-row-cell:filled:selected {
    -fx-text-fill: white;
}

.red-text {
    -fx-text-fill: red;
}

.table-view .column-header-background .label {
    -fx-background-color: #9e7e41; /* Replace with your desired color */
}